<div class="addTest-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <!-- ---------------------------------------------------------------------- -->
            <!--                             ADD TEST HEADER                            -->
            <!-- ---------------------------------------------------------------------- -->
            <div class=" addTest-wrapper-header row py-2">
                <div class="col-lg-12 d-flex justify-content-between p-0">
                    <div class="addTest-wrapper-header-title col-lg-6 d-flex align-items-center">
                        <span class="back" (click)="goback()">
                            <i class="fas fa-chevron-circle-left"></i>
                        </span>
                        <h2>Create New Test</h2>
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------------------------------------- -->
            <!--                             ADD TEST TABS                              -->
            <!-- ---------------------------------------------------------------------- -->
            <!-- ---------------------------------------------------------------------- -->
            <ul class="nav nav-pills">
                <li class="mat-test "><a [routerLink]='["/pages","recruiter","test-managment","FirstContent-test"]'>First Contact</a></li>
                <li class="mat-test active "><a [routerLink]='["/pages","recruiter","test-managment","Hr-test"]'>HR Test</a></li>
                <li class="mat-test"><a [routerLink]='["/pages","recruiter","test-managment","tecnical-test"]'>Technical Test</a></li>
            </ul>

            <div class="tab-content">
                <!-- ---------------------------------------------------------------------- -->
                <!--                                HR test                                 -->
                <!-- ---------------------------------------------------------------------- -->
                <div id="hr" class="tab-pane in active">
                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <section id="basic-form-layouts">
                                <div class="row text-left">
                                    <div class="col-md-12 mx-auto">
                                        <!-- ----------------------------- Form Start ------------------------------ -->
                                        <form class="form" [formGroup]="questionsHRForm"
                                            (ngSubmit)="onSubmitHRQuestionsForm(questionsHRForm)">
                                            <h4 class="form-section">
                                                <div class="form-group">
                                                    <p for="Title">Test Title</p>
                                                    <input formControlName="testName" type="text" id="Title"
                                                        class="form-control border-primary" name="name">
                                                </div>
                                            </h4>
                                            <div class="form-group ">
                                                <p for="Question">Question</p>
                                                <textarea formControlName="question" type="text" id="Question"
                                                    class="form-control border-primary" name="name"></textarea>
                                            </div>
                                            <div class="form-group ">
                                                <p for="Answer">Answer</p>
                                                <textarea formControlName="answer" type="text" id="Answer"
                                                    class="form-control border-primary" name="name"></textarea>
                                            </div>
                                            <div *ngIf="!editMode">
                                                <button [disabled]="questionsHRForm.invalid" type="submit"
                                                    class="btn btnAdd">
                                                    + Add Question
                                                </button>
                                            </div>
                                            <!-- ---------------------------- Form Buttons ----------------------------- -->
                                            <div *ngIf="!editMode" class="float-right">
                                                <button (click)="goback()" type="button" class="mr-2 btn backBtn">
                                                    Cancel
                                                </button>
                                                <button (click)="onSaveHR()" [disabled]="!listOfHRQuestions[0]"
                                                    type="button" class="btn saveBtn">
                                                    Save
                                                </button>
                                            </div>
                                            <div *ngIf="editMode" class="float-right d-flex justify-content-center">
                                                <button (click)="cancelEditHR(questionsHRForm)" type="button"
                                                    class="mr-2 btn backBtn">
                                                    Cancel
                                                </button>
                                                <button [disabled]="questionsHRForm.invalid" type="button"
                                                    class="btn saveBtn" (click)="saveEditHR(questionsHRForm)">
                                                    Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ----------------------------------------------------------------------- -->
        <!--                              List Of Question                           -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="col-lg-6">
            <section class="listOfQuestion-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{test_Name ? test_Name : "HR Test"}}</h4>
                            </div>
                            <!-- <ul class="card-content">
                                <li class="card-body" *ngFor="let item of HrTestrows">
                                    <div class="Question-wrapper d-flex justify-content-between">
                                        <div class="Question">
                                            <h3 class="m-0">{{item.id}}.{{item.questions}}?</h3>
                                        </div>
                                        <div class="Actions d-flex">
                                            <a class="link" title="Edit Test" (click)="editQuestionHR(item)">
                                                <span class="action-icon">
                                                    <i class="fa fa-pencil-alt text-white font-small-2"
                                                        aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a class="link" title="Delete Test" (click)="deleteQuestionHR(item)">
                                                <span class="action-icon">
                                                    <i class="ft-x text-white"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="Answer mt-3">
                                        <p>{{item.answers}}</p>
                                    </div>
                                </li>
                            </ul> -->
                            <div class="card-content">
                                <!-- -------------------------- Data Table Start --------------------------- -->
                                <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'"
                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="4"
                                    [rows]='HrTestrows'>
                                    <ngx-datatable-row-detail></ngx-datatable-row-detail>
        
                                    <ngx-datatable-column [width]="500" *ngFor="let col of columns" [name]="col.name"
                                        [prop]="col.prop">
                                    </ngx-datatable-column>
        
                                    <ngx-datatable-column [width]="100" name="Actions" sortable="false" prop="id">
                                        <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
                                            <a class="success p-0" data-original-title="" title=""
                                                (click)="editQuestionHR(value)">
                                                <span class="action-icon">
                                                    <i class="fa fa-pencil-alt text-white" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title=""
                                                (click)="deleteQuestionHR(value)">
                                                <span class="action-icon">
                                                    <i class="ft-x text-white"></i>
                                                </span>
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <!-- --------------------------- Data Table End --------------------------- -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>