.logs-list{
    margin-bottom:  20px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.493);
    h4{
        font-size: 18px;
        margin-bottom: 0!important;
    }

    p{
        span{
            color: rgb(75, 75, 116);
            margin-right: 10px;
        }
    }
}