<section class="profile">
    <div class="row candidate no-gutters">
        <div class="border-title">
            <div class="container">
                <h3>First contact</h3>
            </div>
        </div>
        <div class="col-lg-10 d-flex mx-auto">
            <div class="back-btn"><a (click)="goback()"><i class="ft-chevron-left"></i></a></div>
            <div class="list-wrapper">
                <div class="emply-list">
                    <div class="emply-list-info d-flex">
                        <div class="mr-4">
                            <h3>1</h3>
                        </div>
                        <div>
                            <h3>{{firstContact.question}} lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Magni?</h3>
                            <p>{{firstContact.answer}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
                                molestiae totam? Animi temporibus minus provident maiores illum dolores nostrum ut
                                laboriosam.</p>
                        </div>
                    </div>
                </div>
                <div class="emply-list">
                    <div class="emply-list-info d-flex">
                        <div class="mr-4">
                            <h3>2</h3>
                        </div>
                        <div>
                            <h3>{{firstContact.question}} lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Magni?</h3>
                            <p>{{firstContact.answer}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
                                molestiae totam? Animi temporibus minus provident maiores illum dolores nostrum ut
                                laboriosam.</p>
                        </div>
                    </div>
                </div>
                <div class="emply-list">
                    <div class="emply-list-info d-flex">
                        <div class="mr-4">
                            <h3>3</h3>
                        </div>
                        <div>
                            <h3>{{firstContact.question}} lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Magni?</h3>
                            <p>{{firstContact.answer}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
                                molestiae totam? Animi temporibus minus provident maiores illum dolores nostrum ut
                                laboriosam.</p>
                        </div>
                    </div>
                </div>
                <div class="emply-list">
                    <div class="emply-list-info d-flex">
                        <div class="mr-4">
                            <h3>4</h3>
                        </div>
                        <div>
                            <h3>{{firstContact.question}} lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Magni?</h3>
                            <p>{{firstContact.answer}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
                                molestiae totam? Animi temporibus minus provident maiores illum dolores nostrum ut
                                laboriosam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>