//safari hack for gradient charts
$dashboard1-gradient-path: "../../../app/business-components/assessment/assessment-report";
$dashboard2-gradient-path: "/dashboard/dashboard2";
$chartist-gradient-path: "/charts/chartist";
