<section id="horizontal-form-layouts">

    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-content">
                    <div class="px-3">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)"
                            class="form form-horizontal">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                                <!-- ------------------------------OldPassword ------------------------------- -->

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput5">Old password :</label>
                                    <div class="col-md-9 input_parent">
                                        <input type="password" formControlName="oldPassword" 
                                            autocomplete="off" name="oldPassword" class="form-control">
                                            <i class="ft-eye" (click)="onSeePasswordClick($event)"></i>
                                    </div>
                                </div>

                                <!-- ------------------------------NewPassword ------------------------------- -->

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput5">New password :</label>
                                    <div class="col-md-9 input_parent">
                                        <input type="password" formControlName="newPassword" 
                                            autocomplete="off" name="newPassword" class="form-control">
                                            <i class="ft-eye" (click)="onSeePasswordClick($event)"></i>
                                    </div>
                                </div>
                                <!-- ------------------------------ConfirmPassword ------------------------------- -->

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput5">Confirm password :</label>
                                    <div class="col-md-9 input_parent">
                                        <input type="password" formControlName="confirmPassword" 
                                            autocomplete="off" name="confirmPassword" class="form-control">
                                            <i class="ft-eye" (click)="onSeePasswordClick($event)"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" [disabled]="changePasswordForm.invalid"
                                    class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Update
                                </button>
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </div>

</section>