<!-- ----------------------------------------------------------------------- -->
<!--                                    HR  test                             -->
<!-- ----------------------------------------------------------------------- -->
<section id="basic-form-layouts">

    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">show Test</div>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12">
<div class="card">
    <div class="card-content">
        <div class="col-md-12 col-lg-12 pt-5">

            <p><span class="font-weight-bold pr-2">Type</span> {{ data.type }}</p>
            <p>
              <span class="font-weight-bold pr-2">recruiter name</span>
              {{ data.recrutier_name }}
            </p>
            <p><span class="font-weight-bold pr-2">date</span> {{ data.created }}</p>
          
            <h4 class="mt-5 font-weight-bold subtitle mb-3">test questions</h4>
          
            <ul *ngFor="let item of questionsData; let i = index">
                <div class="delete-more">
                    <a (click)="deleteQuestionEditView(i)">
                        <i class="la la-close"></i>
                    </a>
                  </div>  
              <li class="title bold-500">{{ item.question }}</li>
              <div *ngIf="item.answer.length > 0; else showMsg">
                <li class="text" *ngFor="let answer of item.answer; let j = index">
                  {{ j + 1 }} - {{ answer }}
                </li>
              </div>
              <ng-template #showMsg>
                <p class="errormsg">
                  NO Answer found
                </p>
              </ng-template>
              <li *ngIf="item.correct_answer.length > 0">
                <p class="subtitle bold-500">correct Answer</p>
                <div *ngFor="let correctAns of item.correct_answer; let j = index">
                  <p class="text">
                    <i class="ng-tns-c111-0 ft-check"></i>{{ correctAns }}
                  </p>
                </div>
              </li>
            </ul>
            <!--Prevent panel toggle ends-->
          </div>
          <!-- <app-spinner *ngIf="!data"></app-spinner> -->
    </div>
</div>

            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <!-- ----------------------------- Form Start ------------------------------ -->
                        <form class="form" [formGroup]="questionsForm"  (ngSubmit)="onSubmitQuestionsForm(questionsForm)">
                            <h4 class="form-section">HR-Test</h4>
                            <div formArrayName="questions"
                                *ngFor="let question of questionsForm.get('questions')['controls']; let i = index"
                                class="form-body">
                                <div [formGroupName]="i">
                                    <div class="row">
                                        <!-- ----------------------------- Question ------------------------------ -->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="userinput1">Question {{i+1}}</label>
                                                <input required formControlName="question" type="text" id="userinput1"
                                                    class="form-control border-primary" name="name">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <!-- ----------------------------- correct ans ------------------------------ -->
                                        <div class="col-md-6">
                                            <div formArrayName="correctAnswers"
                                                *ngFor="let correctAns of question.get('correctAnswers')['controls']; let j = index">
                                                <div [formGroupName]="j" class="form-group">
                                                    <label for="userinput3">Correct Answer {{j+1}}</label>
                                                    <textarea formControlName="correctAns" id="userinput3" 
                                                        class="form-control border-primary" name="username"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-actions"
                                                style="border: none; padding: 0; margin-top: 0px;">
                                                <!-- <button *ngIf="questionsForm.value.questions.length >= 2 " type="button"
                                                    class="btn btn-raised btn-warning mr-1">
                                                    <i class="ft-x"></i>
                                                    
                                                </button> -->
                                                <button (click)="addNewCorrectAns(i)" [disabled]="questionsForm.invalid"
                                                    type="button" class="btn btn-raised btn-primary">
                                                    <i class="fa fa-check-square-o"></i> 
                                                </button>
                                            </div>
                                        </div>
                                        <!-- ----------------------------- wrong ans ------------------------------ -->
                                        <div class="col-md-6">
                                            <div formArrayName="wrongAnswers"
                                                *ngFor="let wrongAns of question.get('wrongAnswers')['controls']; let k = index">
                                                <div [formGroupName]="k" class="form-group">
                                                    <label for="userinput4">Wrong Answer {{k+1}}</label>
                                                    <textarea formControlName="wrongAns" id="userinput4" 
                                                        class="form-control border-primary" name="nickname"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-actions"
                                                style="border: none; padding: 0; margin-top: 0px;">
                                                <!-- <button *ngIf="questionsForm.value.questions.length >= 2 " type="button"
                                                    class="btn btn-raised btn-warning mr-1">
                                                    <i class="ft-x"></i>
                                                    
                                                </button> -->
                                                <button (click)="addNewWrongAns(i)" [disabled]="questionsForm.invalid"
                                                    type="button" class="btn btn-raised btn-primary">
                                                    <i class="fa fa-check-square-o"></i> 
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-actions" style="border: none; padding: 0; margin-top: 0px;">
                                <button *ngIf="questionsForm.value.questions.length >= 2 " type="button"
                                    (click)="deleteQuestion(questionsForm.value.questions.length -1)"
                                    class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i>
                                    Remove
                                </button>
                                <button (click)="addNewQuestion()" [disabled]="questionsForm.invalid" type="button"
                                    class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Add Question
                                </button>
                            </div>



                            <!-- ---------------------------- Form Buttons ----------------------------- -->
                            <div class="form-actions left">
                                <button (click)="backClicked()" type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button [disabled]="questionsForm.invalid" type="submit"
                                    class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ----------------------------------------------------------------------- -->
<!--                                  HR test       End                      -->
<!-- ----------------------------------------------------------------------- -->
