textarea{
    min-height: auto !important;
}
.ng-touched.ng-invalid{
    border-color: #FF586B !important
}
.font-weight-bold {
    font-weight: 600 !important;
    text-transform: capitalize;
}
.subtitle{
   color: #009DA0 !important
}
.bold-500{
    font-weight: 500;
}
.title{
    margin-bottom: 1.5rem;
    color: #342e49 !important;
}

ul{
    li{
        &.title{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            &::before{
                content: "- ";
                color: #6d6d6d;
                font-size: 25px;
                margin-right: 10px;
            }
        }
   
    }
    .text{
        color:#6c757d !important;
        margin-left: 22px;
        .ft-check{
            margin-right: 10px;
            color: #009DA0;
        }
    }
    .errormsg{
        color:#6c757d !important;
        margin-left: 22px;
        text-transform: capitalize; 
    }
} 
  
