@import '../../../_variables';
@import '../../../_general';
.change-password form button:hover{
    background: #009DA0;
    color: #ffffff;
}

.change-password form button{
    border-color: #009DA0 !important;
}

.border-title {
    display    : flex !important;
    align-items: center;
  
    h3 {
        margin-right: auto;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: bold;
        color: #202020;
        text-transform: capitalize;
    }
  
    .btn.btn-primary {
        margin-left: 10px;
  
    }
  
    .job-is.ft {
        margin: 0 !important;
        border-radius: 8px;
    }
  }
.btn-style.btn-edited{
    cursor: pointer;
    border: 1px solid #009DA0;
    color: #009DA0;
    margin-top: 12px;
    font-family: Open Sans;
    font-size: 14px;
    border-radius: 22px;
    background-color: white !important;
}

.btn-style.btn-edited:hover{
    background-color: #009DA0 !important;
    color: white;


}
.saveBtn {
    border     : 2px solid #009DA0;
    color      : #009DA0;
    margin-left: 15px;

    &:hover {

        color     : white;
        background: #009DA0;
    }

    &:disabled {
        opacity         : 0.6;
        cursor          : not-allowed;
        background-color: white;
        color           : #009DA0;
    }
    
}
.manage-jobs-sec>h3{
    font-family: Quicksand;
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    text-transform: capitalize;
}
