<div class="resumme">
    <!-- <app-candidate-header></app-candidate-header> -->
    <div class="container">
        <div class="row">
            <!-- <app-candidate-sidebar class="col-lg-3"></app-candidate-sidebar> -->


            <div class="col-lg-12 column">
                <div class="padding-left">

                    <div class="manage-jobs-sec">
                        <div class="border-title">
                            <h3>Change Password</h3>
                        </div>
                        <div class="change-password">
                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- ------------------------------OldPassword ------------------------------- -->
                                        <div class="form-group"  [ngClass]="{'is-invalid': changePasswordForm.get('oldPassword').errors && changePasswordForm.get('oldPassword').touched }">
                                            <span class="pf-title">Old Password</span>
                                        <div class="pf-field">
                                            <input type="password" formControlName="oldPassword" id="opwd"
                                                autocomplete="off" name="oldPassword" required
                                                placeholder="old Password"
                                                />
                                        </div>
                                        </div>
                                        <!-- ------------------------------ NewPassword ------------------------------- -->
                                        <div class="form-group" [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched }">
                                        <span class="pf-title">New Password</span>
                                        <div class="pf-field"  [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched }">
                                            <input type="password" formControlName="newPassword" id="npwd"
                                                autocomplete="off" name="newPassword"                                             placeholder="Confirm Password"
                                                placeholder="new Password"
                                                />
                                        </div>
                                        </div>
                                        <div *ngIf="changePasswordForm.get('newPassword').value.length < 4 && changePasswordForm.get('newPassword').touched"  class="help-block">password should be morethan 4 character</div> 
                                        <!-- ------------------------------ ConfirmPassword ------------------------------- -->
                                        <div class="form-group" [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').touched }">
                                        <span class="pf-title">Confirm Password</span>
                                        <div class="pf-field"  [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').touched }">
                                            <input     class="form-control"
                                            type="password"
                                            placeholder="Confirm Password"
                                            formControlName="confirmPassword"
                                            id="confirmpwd"
                                            autocomplete="off" />
                                        </div>
                                        </div>
                                        <div *ngIf="changePasswordForm.get('confirmPassword').value  != changePasswordForm.get('newPassword').value " class="help-block">
                                            password not match</div> 
                                        <!-- ----------------------------- Form Action ----------------------------- -->
                                        <button class="btn-style saveBtn mt-3" type="submit" [disabled]="changePasswordForm.invalid">Update</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <i class="la la-key big-icon"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>