<div class="row">
    <div class="col-sm-12">
        <div class="border-title">
            <div class="container">
                <h3>Test Management</h3>
            </div>
        </div>
    </div>
</div>
<div class="tabs-wrapper">
    <div class="container">
        <ul class="list-group mt-0 list-group-horizontal">
            <li class="pr-2">
                <a class="nav-link" [routerLink]="['/pages', 'recruiter','test-managment', 'testslist']"
                    routerLinkActive="active">list Of Tests</a>
            </li>
            <li class="pr-2">
                <a class="nav-link" [routerLink]="['/pages', 'recruiter','test-managment','firstcontact-list']"
                    routerLinkActive="active">First Contact</a>
            </li>
            <li class="pr-2">
                <a class="nav-link" [routerLink]="['/pages', 'recruiter','test-managment', 'hrtest-list']"
                    routerLinkActive="active">Hr Test</a>
            </li>
            <li class="pr-2">
                <a class="nav-link" [routerLink]="['/pages', 'recruiter', 'test-managment', 'technicaltest-list']"
                    routerLinkActive="active">Tecnical Test</a>
            </li>
            <li class="pr-2">
        </ul>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="test-wrapper mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>