@import "../../../../variables";
@import "../../../../general";

.skills{
    padding: 1% 10px 0;
    &_content_title{
        font-size: 20px !important;
        color: $dark-indigo;    
        font-weight: 500;
    }
    &_icon{
            display: inline-block;
            width: 4%;
            vertical-align: top;
            font-size: 20px;
            color: $tealish;
            position: relative;
            top: 7px;
        &_add-icon{
            font-size: 18px;
            background-color: $warm-grey;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-weight:900 ;
            color: $white;
            display: inline-block;
            position: relative;
            &:hover{
                color: $white;
            }
            i{
                background-color: transparent;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    
    &_content{
        display: inline-block;
        width: 90%;
        &_action-list{
            position: absolute;
            top: 18px;
            left: 5px;
            &_action-icon{
                color: $warm-grey-two;
            }
            &_action-popup{
                background-color: $tealish;
                color: $white;
                &::before{
                    background-color: $tealish;
                }
            }
        }
        &_list{
            
            font-size: 17px;
            list-style: disc;
            &_percentage{
                color: $orange;
                font-weight: normal;
                font-size: 14px;
            }
        }
        &_progressbar{
            height: 100%;
            border-radius: 40px;
            overflow: visible;
            color: $tealish !important;
            background-color: $tealish !important;
        }
        &_heading{
            font-size: 18px;
            display: inline-block;
            width: 96%;
            color: $dark-indigo;    
            font-family: "mainFontMedium"
        }
        .progressbar{
            height: 14px;
            position: relative;
        }
    }
}
.la.la-plus{
    background-color: $warm-grey !important;
}


// inputs style

form select.form-control{
    border: 1px solid #eee;
}

.form-group {
    position        : relative;
    margin-bottom   : 0;
    border          : 1px solid $border-color;
    text-align      : left;
    padding         : 5px 10px;
    // border-left  : 2px solid  $border-color;
    background      : #fff;
    transition      : 0.2s ease-in-out;
    border-radius      : 3px;
    margin-bottom      : 10px;

    &:focus-within {
        border-left: 3px solid $tealish;
        transition : 0.2s ease-in-out;
    }

    p {
        margin-bottom: 0;
        padding-left: 5px;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        font-weight: 500;
        color: #000;
        font-family: "mainFontMedium";
    }

    input {
        border          : 0px;
        margin-bottom   : 0 !important;
        background-color: #fff;
        padding         : 0px;
        margin          : 0 4px;
        transition      : 0.2s ease-in-out;
        height          : 22px;
        font-size: 13px;
        width: 100%;
        &:focus {
        box-shadow: none !important
        }
    }

}

.description-text{
    margin: -5px 0 30px;
    color: grey;
    letter-spacing: 1px;
}

form .form-control {
    border:none;
}
form textarea{
    width: 100%;
    border: none;
}
form label {
    text-transform: capitalize !important;
    display: block;

}

.custom-control {
    padding-left: 0;
}

.text-decoration-none {
    color: $warm-grey-two;
}

.select-user-tabs {
    background-color: $white-two;
    border-radius   : 5px;
    padding         : 5px;
    display         : inline-block;

    span {
        border               : none !important;
        float                : none;
        display              : inline-block;
        border               : 2px solid;
        -webkit-border-radius: 5px;
        -moz-border-radius   : 5px;
        -ms-border-radius    : 5px;
        -o-border-radius     : 5px;
        border-radius        : 5px;
        cursor               : pointer;
        font-size            : 14px;
        font-family          : "mainFontMedium";
        font-stretch         : normal;
        font-style           : normal;
        line-height          : 1.36;
        letter-spacing       : normal;
        text-align           : left;
        color                : $warm-grey-two;
        padding              : 5px 10px;
        transition           : 0.2s ease-in-out;
        border               : 0px;

        &:first-child {
        margin-right: 20px;
        }

        &.active {
        color           : #ffffff;
        background-color: $tealish !important;
        font-weight     : bold !important;
        transition      : 0.2s ease-in-out;

        }
    }
}

::placeholder {
color  : $border-color;
opacity: 1;
/* Firefox */
}

:-ms-input-placeholder {
/* Internet Explorer 10-11 */
color: $border-color;
}

::-ms-input-placeholder {
/* Microsoft Edge */
color: $border-color;
}
  
.fa-eye-slash:hover,.fa-eye:hover {
    cursor: pointer;
}

.pick{
    pointer-events: none;
    background: #fff;
    border: none;
    color: $tealish;
    font-size: 18px;
    width: 40px;
    position: absolute;
    top: 16px;
    right: 5px;
    &::before{
        margin-left: 10px;
        cursor: pointer;

    }
}
.dateInput{
    padding-right: 15px;
    cursor: pointer;
}


  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    top: 16px;
    right: 5px;
    width: 40px;
    cursor: pointer;
  }


// btns
.btns-action{
    button{
        margin: 5px;
        color: white;
    }
    &_saveBtn{
        background-color: $tealish;
    }
    &_deleteBtn{
        background-color:$orange
    }
}
.edu-history {
    margin-bottom: 10px;
}