$light-grey: #fafafa;
$warm-grey :#707070;
$white:#ffffff;
$warm-grey-two: #9e9e9e;
$dark-indigo : #0b1b46;
$white-two:#efefef;
$tealish :#27bfc0;
$orange:#f9b537;
$border-color:#cacaca;
$dusk:#545f7d;
$black:#2a2a2a;
$steel: #888795;
$white-four:#fefefe;
$pale-grey:#f3f4f9;