<!-- technical score -->



<section class="profile">
    <div class="row candidate no-gutters">
        <div class="border-title">
            <div class="container">
                <h3>Tecnical assasment</h3>
            </div>
        </div>
        <div class="row w-100 pt-3">
            <div class="container">
                <div class="back-btn col-lg-2"><a (click)="goback()"><i class="ft-chevron-left"></i></a></div>
                <div>
                    <div class="padding-left col-lg-12 mx-auto pt-3">
                        <div class="manage-jobs-sec">
                            <div class="widget text-center">
                                <circle-progress [percent]="80" [maxPercent]="100" [radius]="80" [outerStrokeWidth]="12"
                                    [innerStrokeWidth]="5" [outerStrokeColor]="'#27bfc0'" [animation]="true"
                                    [animationDuration]="600" [clockwise]="false" [titleFontSize]='40'>
                                </circle-progress>
                            </div>
                            <div class="technical-title text-center">
                                <h3 class=" text-center pt-3">Your Technical Assessment Score</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</section>